*.d.ts
.DS_Store
.editorconfig
.generated
.git
.github
.gitignore
.husky/*
.idea/*
.jest-cache
.jest-coverage
.next
.npmrc
.nvmrc
.out
.prettierignore
.storybook/*
.eslintrc.js
.eslintrc.json
jest.config.js
jest.setup.js
next.config.js
package-lock.json
README.md
tsconfig.json
build
dist
lib
node_modules
out
package.json
tools
